body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Sans-Serif, sans-serif;
  background: white;
}

.title {
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  text-align: left;
  margin: 5px 0 2px 0;
}

.label {
  font-size: 12px;
  display: inline-block;
  color: black;
  font-weight: normal;
  text-align: left;
}

.selected-image, .select-video {
  height: 500px;
  border: 1px solid grey;
  margin: 10px 0;
  padding: 10px;    
  background-color: turquoise;
  text-align: left;
}

.selected-image img, .select-video video {
  width: 100%;
  height: 450px;
  /* flex-direction: row; */
}

.image-thumbnail, .video-thumbnail {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  flex-wrap: wrap;
  /* width: 33%; */
  /* overflow: auto; */
  /* overflow-y: hidden; */
}

.wrapper_thumbnail {
  display: inline-block;
  /* padding: 10px; */
  margin: 5px; 
  background-color: aquamarine;
  border: 1px solid grey;
  width: 100%; /*250px;*/
}

.image-thumbnail img, .video-thumbnail video {
  width: 100%;
  padding: 1px;
  /* border: 1px solid grey; */
}

.react-player {
  height: 400px;
  text-align: center;
}

h3 {
  text-align: left;
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
  padding: 10px;
  margin: 10px 5px;
}

h3::after { 
  content: " ";
  border-bottom: 1px solid grey;
}

.div-col {
  margin-top: 10px;
}

.btn-sec {
  color: #aaa;
  background-color: #ccc;
  border-color: #999;
}

.btn {
  margin: 0 5px;
  height: 45px;
}

.btn-primary {
  background-color: turquoise;
}

.search-field {
  width: 80%;    
  height: 45px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

h2 {
  margin: 15px;
}

.btn-clear {
  font-size: 10px;
  height: 26px;
}